<h1>ここはtopコントローラのページです。</h1>
<p>indexアクションが呼び出されています。</p>
<h2>routes.rbで設定</h2>
<p>get '/url', to: 'モデル名#アクション名'</p>
<p>get '/top', to: 'top#index'</p>
<p>URLはhttp://localhost:3000/top</p>
<h2>app/view/モデル名/アクション名.html.erbで設定</h2>
<p>htmlを書く</p>